/* LANA B C DE ARAÚJO  */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.interactive-list {
    list-style-type: none;
    padding: 0;
}

.interactive-list li {
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.interactive-list li.active {
    background-color: #ca800b;
    color: #ffffff;
}
